<?xml version="1.0" encoding="UTF-8"?>
<a:App
						xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xsi:schemaLocation="http://www.cjcaesar.ch/AppConfiguration ..\Configuration\AppConfiguration.xsd" 
            xmlns:a="http://www.cjcaesar.ch/AppConfiguration"
						xmlns:param="http://www.cjcaesar.ch/Parameter"> 

	<!-- TODO: allow these files to be written relative to some bin path -->
						
	<param:Parameter name="Physics">e:\cfsSIA3D-src\Config\Physics.xml</param:Parameter>
	<param:Parameter name="PhysicsCore">e:\cfsSIA3D-src\Config\PhysicsCore.xml</param:Parameter>
	<param:Parameter name="Numerics">e:\cfsSIA3D-src\Config\Primal.xml</param:Parameter>
	<param:Parameter name="NumericsCore">e:\cfsSIA3D-src\Config\NumericsCore.xml</param:Parameter>
	
</a:App>